{{- define "main" -}}
{{- $canonicalRelPermalink := .RelPermalink | replaceRE "^/~seirdy/" "/" }}
<main
 itemprop="hasPart" itemscope="" itemtype="https://schema.org/SocialMediaPosting" itemid="{{ .Site.Params.CanonicalBaseURL }}{{ $canonicalRelPermalink }}">
<link itemprop="isPartOf" href="{{ .Site.Params.CanonicalBaseURL }}/" />
<article class="h-entry hentry">
	{{ partial "full-article.html" . }}
	{{ partial "interact.html" . }}
</article>
</main>
{{ partial "prev-next.html" . -}}
{{- end }}
