{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
	{{ end -}}

	:root {
		--dim-text: #a7a7a7;
		--shaded-bg: #222;
	}

	html{
		color: white;
		background: black;
	}

	header#banner a {
		color: white;
	}

	main#content a, footer a {
		color: #00b1ed;
	}

	main#content hr {
		border-color: #5c5c5c;
	}

	main#content #toc h4 {
		color: #d4d4d4;
	}

	{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
