:root {
	--dim-text: #454545;
	--shaded-bg: #e3e3e3;
}
html {
	line-height: 1.5rem;
	font-family: sans-serif;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5rem;
}

header#banner {
	margin: 2rem 0;
}

header#banner a {
	color: black;
	text-decoration: none;
}

header#banner a:hover {
	text-decoration: underline;
}

header#banner h2 {
	display: inline;
	font-size: 1.5rem;
}

header#banner nav {
	display: inline-block;
	padding: 0 1rem;
}

header#banner nav ul {
	list-style-type: none;
	font-size: 1.25rem;
	text-transform: lowercase;
	margin: 0;
	padding: 0
}

header#banner nav ul li {
	display: inline;
	margin: 0 0.5rem;
}

header#banner nav ul li a {
	color: var(--dim-text);
}

main#content a, footer a {
	color: #007dfa;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
	display: block;
	margin: 1.5rem 0 1rem;
}

/* index.html styles */
main#content ul#posts {
	list-style-type: none;
	padding: 0;
}

main#content ul#posts li {
	line-height: 2rem;
	padding: 0;
}

main#content ul#posts small {
	color: var(--dim-text);
}

main#content ul#posts li a {
	text-decoration: none;
}

main#content ul#posts li a:hover {
	text-decoration: underline;
}

/* single.html styles */
main#content h1 {
	font-size: 1.5rem;
	line-height: 2.5rem;
}
main#content h2 {
	font-size: 1.25rem;
}
main#content h3 {
	font-size: 1.125rem;
}

main#content #toc {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

main#content #toc nav#TableOfContents {
	margin-top: 0.25rem;
}

main#content #toc ul {
	list-style-type: none;
}

main#content #toc ol {
	counter-reset: item;
}

main#content #toc ol li {
	display: block;
}

main#content img {
	max-width: 100%;
	margin: 0 auto;
}

main#content figure {
	margin: 16px 0;
}

main#content figure img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

main#content figure figcaption {
	font-size: 0.92em;
	font-style: italic;
	line-height: 1.5rem;
	text-align: center;
	padding: 0 1rem;
}

main#content figure figcaption h4 {
	font-style: normal;
	display: inline;
	margin: 0;
}

main#content figure figcaption p {
	display: inline;
	margin: 0;
	padding-left: 0.5rem;
}

main#content code {
	font-size: 16px;
	background-color: var(--shaded-bg);
}

main#content pre {
	overflow-y: visible;
	overflow-x: scroll;
	background-color: var(--shaded-bg);
	padding: 0.5rem;
}

main#content code {
	padding: 0.1rem 0.25rem;
}

footer#footer {
	color: var(--dim-text);
	margin: 2rem 0;
}
