@media (max-width: 600px) {
	body {
		max-width: 500px;
		padding: 2rem 5%;
	}

	header nav {
		display: block;
		padding: 0 0 0.25rem;
	}

	header nav ul li {
		display: block;
		padding: 0.5rem 0.25rem;
	}

	.home {
		padding-bottom: 1rem;
	}
}
