@media (min-width: 32rem) {
	body {
		padding: 2rem 5%;
	}

	header nav {
		display: inline-block;
	}

	header nav ul li {
		display: inline;
		padding: 0 0.25rem;
	}

	.home {
		padding-bottom: 0;
	}
}
