{{ define "main" -}}
<main itemprop="mainEntity" class="h-feed hfeed" itemscope="" itemtype="https://schema.org/DataFeed">
	<h1 class="p-name" itemprop="name headline" id="notes">Notes</h1>
	<p>This is my microblog, containing short informal entries. <a href="../posts/">See my blog</a> for longer entries. An <a href="./atom.xml">An Atom feed</a> contains the full text of all my notes. If that has any problems, I also have <a href="./index.xml">a legacy RSS feed</a>.</p>
	<p role="doc-tip">
		Timestamp format: <code>YYYY-MM-DD HH:MM:SS</code>, as per <cite><a href="https://www.ietf.org/rfc/rfc3339.txt">RFC 3339</a></cite>. Sorted newest to oldest.
	</p>
	<ol>
		{{- $posts := (where site.RegularPages "Section" "notes") -}}
		{{- range $posts -}}
		{{- $canonicalRelPermalink := .RelPermalink | replaceRE "^/~seirdy/" "/" -}}
		<li itemprop="dataFeedElement" itemscope="" itemtype="https://schema.org/DataFeedItem">
			<article class="h-entry hentry" itemprop="item" itemscope="" itemtype="https://schema.org/SocialMediaPosting" itemid="{{ .Site.Params.CanonicalBaseURL }}{{ $canonicalRelPermalink }}">
				<h2 itemprop="name headline" class="p-name entry-title">
					<a href="{{ .Permalink }}" itemprop="url" class="u-url url" rel="bookmark">
						{{ .Title }}
					</a>
				</h2>
				<p>
					Noted <time itemprop="datePublished" class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02 15:04:05" }}</time>
					{{- if gt (sub .Lastmod.Unix .Date.Unix) 3600 -}}
						, updated <time{{ if not (.Params.evergreen) }} itemprop="dateModified" class="dt-updated updated"{{ end }} datetime="{{ .Lastmod.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02 15:04:05" }}</time>
				{{- end }}
				</p>
				<div class="e-content entry-content" itemprop="articleBody">
					{{- if .Params.replyURI -}}
						{{- partial "reply-context" .Params -}}
					{{- end -}}
					{{ partial "processed-content.html" . }}
				</div>
			</article>
		</li>
		{{- end }}
	</ol>
</main>
{{ end }}
