{{ define "main" }}
<main itemprop="blogPost mainEntity" itemscope itemtype="https://schema.org/BlogPosting">
	<article class="h-entry hentry">
		<header>
			<h1 itemprop="name headline" class="p-name entry-title">{{ .Title }}</h1>
			<span class="dateline">
				Posted <time itemprop="datePublished" class="dt-published published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
			</span>
			by {{- partial "indieweb-author.html" -}} on his <a rel="canonical" itemprop="mainEntityOfPage" class="u-url url" href="https://seirdy.one{{ .RelPermalink }}">Website</a>{{- with .OutputFormats.Get "gemtext" -}}{{- printf " " -}}and <a rel="syndication" class="u-syndication" href="{{replace .Permalink "/gemini" "" 1 | safeURL}}">Gemini capsule</a>{{- end -}}.
			{{ if lt .Date .Lastmod -}}
				<br>
				Last updated <time itemprop="dateModified" class="dt-updated updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02" }}</time>. <a href="{{ .Site.Params.logUrlPrefix }}content/{{ .File.Path }}">Changelog</a>.
			{{- end }}
			<br>
			<small>
				<span itemprop="wordCount">{{ .WordCount }}</span> words, a <span itemprop="timeRequired" content="PT{{ .ReadingTime }}M">{{ .ReadingTime }} minute</span> read
			</small>
			<hr>
		</header>
		<div class="e-content entry-content" itemprop="articleBody">
			{{ partial "processed-content" . -}}
		</div>
	</article>
</main>
{{ end }}
