<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ with .Site.Params.description -}}
	<meta name="description" content="{{ . }}">
	{{ end }}
	{{ printf `<link rel="shortcut icon" href="%s">` ("favicon.png" | absURL) | safeHTML }}
	<link href="{{ .Site.BaseURL }}posts/index.xml" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"/>
	{{ if eq .Site.BaseURL "https://envs.net/~seirdy/" -}}
	<meta name="robots" content="noindex">
	{{ end -}}
	<link rel="canonical" href="https://seirdy.one{{ .RelPermalink }}"/>

	{{ $resources := slice -}}

	{{ $resources = $resources | append (resources.Get "/css/main.css") -}}

	{{ $resources = $resources | append (resources.Get "/css/max770px.css") -}}

	{{ $dark := .Site.Params.dark | default "auto" -}}
	{{ if not (eq $dark "off") -}}
	{{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
	{{ end -}}

	{{ if .Site.Params.highlight -}}
	{{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
	{{ end -}}

	{{ $css := $resources | resources.Concat "css/style.css" | minify }}
	{{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

	<title>{{ .Title }}</title>
</head>
