@media (prefers-color-scheme: dark) {
	html {
		/* "background" is short for a bunch of unnecessary CSS rules
		 * background-color is all I need
		 * I've been told that pure white on black is a bit harsh */
		background-color: #0e0e0e;
		color: #eee;
	}

	a {
		color: #ffea77;
	}

	a:visited {
		color: #ddc;
	}

	a:active {
		color: #c80;
	}

	pre,
	:not(pre) > code {
		border-color: #444;
	}

	/* stylelint-disable -- hasn't heard of "prefers-contrast" yet */
	@media (prefers-contrast: less) {
	/* stylelint-enable */
		html {
			background-color: #222;
		}
	}
}
