@media (prefers-color-scheme: dark) {
	html {
		/* "background" is short for a bunch of unnecessary CSS rules
		 * background-color is all I need
		 * I've been told that pure white on black is a bit harsh */
		background-color: #0c0c0c;
		color: #ececec;
	}

	a {
		color: #ed7;
	}

	a:visited {
		color: #ddc;
	}

	a:active {
		color: #c80;
	}

	blockquote,
	:not(pre) > code,
	hr,
	img,
	pre {
		border-color: #333;
	}
}
