/* Print stylesheet: hide stuff that we don't need. */
@media print {
	/* Currently only used for transcripts */
	details,
	/* Currently only used for anchors */
	span[aria-hidden],
  /* You can't navigate in a printout. */
	footer nav,
	header nav a:not([rel="home"]) span {
		display: none;
	}
}

/* Print: don't orphan headings */
h2,
h3,
h4 {
	break-after: avoid;
}

figure,
article article,
li {
	break-inside: avoid;
}
