/* Print stylesheet: hide stuff that we don't need. */
@media print {
	/* The triangle bullet on summary elements gives no actionable
	 * information on print. */
	summary {
		list-style: none;
	}

	/* Hide screen-only content */

	aside,
	/* An un-opened summary inside an article has no use in print.
	 * Outside an article it's used in my webring list where it has some
	 * use, see below. */
	article summary,
	/* Currently only used for in-page heading anchors,
	 * useless in printouts. */
	h2 + a,
  /* You can't navigate in a printout. */
	footer nav,
	nav a:not([rel="home"]) span {
		display: none;
	}
}

/* Print: don't break up self-contained items. */
figure,
section[itemprop="mentions"],
li {
	break-inside: avoid;
}
