/* Print stylesheet: hide stuff that we don't need. */
@media print {
	/* Currently only used for transcripts and TOC */
	article details,
	/* Currently only used for in-page heading anchors,
	 * useless in printouts. */
	span[aria-hidden],
  /* You can't navigate in a printout. */
	footer nav,
	nav a:not([rel="home"]) span {
		display: none;
	}

	/* The triangle bullet on summary elements gives no actionable
	 * information on print. */
	summary {
		list-style: none;
	}
}

/* Print: don't orphan headings
 * Commented out bc most browsers don't obey this yet. */
/* h2, */
/* h3, */
/* h4 { */
/* 	break-after: avoid; */
/* } */

/* Print: don't break up self-contained items. */
figure,
article article,
li {
	break-inside: avoid;
}
