<footer>
	<p>
	Copyright<span aria-hidden="true"> ©</span> <time itemprop="copyrightYear" datetime="{{now.Year}}">{{now.Year}}</time> {{- partial "indieweb-author.html" -}}
	</p>
	{{ partial "search.html" }}
	<nav aria-label="site info">
		<ul>
			<li itemprop="license" itemscope="" itemtype="https://schema.org/CreativeWork">
				<a rel="license" itemprop="url" href="https://creativecommons.org/licenses/by-sa/4.0/"><span itemprop="name">CC BY-SA 4.0</span></a>
			</li>
			<li>
				<a rel="source" href="{{ .Site.Params.src }}">Source code</a>
			</li>
			<li>
				<a rel="alternate" href="http://wgq3bd2kqoybhstp77i3wrzbfnsyd27wt34psaja4grqiezqircorkyd.onion{{ .RelPermalink }}">Tor mirror</a>
			</li>
			<li>
				<a href="{{ site.BaseURL }}privacy/">Privacy</a>
			</li>
			<li>
				<a href="{{ site.BaseURL }}about/#location-seirdy-online">Contact</a>
			</li>
		</ul>
	</nav>
</footer>
