<article class="h-entry hentry"><!--Once WAI-ARIA 1.3 gains traction, I'll add aria-details for webmentions.-->
<header>
	<h1 itemprop="name headline" class="p-name entry-title">{{ .Title }}</h1>
	{{- if not .Params.disableMeta }}
	{{ partial "post-meta.html" . }}
	{{- end }}
	<hr>
</header>
<div class="e-content entry-content" itemprop="articleBody">
	<meta itemprop="author" content="Rohan Kumar" itemid="https://seirdy.one/#seirdy">
	<!--That was needed bc some reading modes get confused by other authors referenced in the text-->
	{{- partial "processed-content" . -}}
</div>
</article>
