<article class="h-entry hentry"><!--Once WAI-ARIA 1.3 gains traction, I'll add aria-details for webmentions.-->
<header>
	<h1 itemprop="name headline" class="p-name entry-title" id="h1" tabindex="-1">{{ .Title }}</h1>
	{{- if not .Params.disableMeta -}}
	{{- partial "post-meta.html" . -}}
	{{- end -}}
</header>
<hr />
<div class="e-content entry-content" itemprop="articleBody">
	<meta itemprop="author" content="Rohan Kumar" />
	<!--That was needed bc some reading modes get confused by other authors referenced in the text-->
	{{- if .Params.replyURI -}}
		{{- partial "reply-context" .Params -}}
	{{- end -}}
	{{- partial "processed-content" . -}}
</div>
</article>
