	<header id="banner" itemscope itemtype="https://schema.org/WPHeader">
		<nav>
			<ul class="unstyled-list">
				<li itemscope itemtype="https://schema.org/SiteNavigationElement">
					<a rel="home" itemprop="url" href="{{ .Site.BaseURL }}"><span itemprop="name">{{ .Site.Title }}</span></a>
				</li>
				{{ range .Site.Menus.main.ByWeight -}}
				<li itemscope itemtype="https://schema.org/SiteNavigationElement">
					{{ .Pre }}<a href="{{ .URL }}" itemprop="url" title="{{ .Title }}"><span itemprop="name">{{- .Name -}}</span></a>{{ .Post }}
				</li>
				{{- end }}
			</ul>
		</nav>
	</header>
