{{- $isStandalone := false -}}
{{- if ne .Permalink .Site.BaseURL -}}
	{{- $isStandalone = true -}}
{{- end -}}
<section class="h-feed hfeed" itemscope itemtype="https://schema.org/{{ if $isStandalone }}Complete{{ end }}DataFeed">
{{- if $isStandalone }}
	<h1 class="p-name" itemprop="name headline" id="posts">Posts</h1>
	{{- else }}
	<h2 class="p-name" itemprop="name" id="posts">Posts</h2>
	<p>Here's a selection of my best posts. To see the rest, visit <a href="/posts.html">my Posts page</a>.</p>
{{- end }}
	<p>I edit some of these posts quite often; some are updated indefinitely. Check the "updated" timestamps.</p>
	<p role="doc-tip">
		Timestamp format: <code>YYYY-MM-DD</code>, as per <cite><a href="https://www.ietf.org/rfc/rfc3339.txt">RFC 3339</a></cite> and <cite><a href="https://xkcd.com/1179/">ISO 8601</a></cite>
	</p>
	<ol class="unstyled-list" reversed>
		{{- range where site.RegularPages "Type" "in" site.Params.mainSections -}}
		{{- if or ($isStandalone) (.Params.featured) }}
		<li>
			<article class="h-entry hentry" itemprop="dataFeedElement" itemscope itemtype="https://schema.org/BlogPosting https://schema.org/DataFeedItem">
				{{ if $isStandalone -}}
				<h2
				{{- else -}}
				<h3
				{{- end }}
					itemprop="name headline" class="p-name entry-title">
					<a href="{{ .Permalink }}" itemprop="url" class="u-url url" rel="bookmark">
						{{ .Title }}
					</a>
				{{ if $isStandalone -}}
				</h2>
				{{- else -}}
				</h3>
				{{- end }}
				Posted <time itemprop="datePublished" class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>, updated
				<time itemprop="dateModified" class="dt-updated updated" datetime="{{ .Lastmod.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
				<p class="p-summary entry-summary" itemprop="description">{{ .Description }}</p>
			</article>
		</li>
		{{- end }}
		{{- end }}
	</ol>
</section>
