{{- $canonicalRelPermalink := .RelPermalink | replaceRE "^/~seirdy/" "/" -}}
{{- $isNotes := false -}}
{{- $action := "Posted" -}}
{{- $shortMeta := false -}}
{{- $logURL := printf "%scontent/%s" .Site.Params.logUrlPrefix .File.Path -}}
{{- if .Scratch.Get "shortMeta" -}}
	{{- $shortMeta = true -}}
{{- end -}}
{{- if or (eq .Page.Section "notes") (eq .Page.Title "Notes") -}}
	{{- $isNotes = true -}}
	{{- $action = "Noted" -}}
{{- else -}}
	{{- $logURL = $logURL | strings.ReplaceRE `\.md` `.gmi` -}}
{{- end -}}
{{- $needsModTime := gt (sub .Lastmod.Unix .Date.Unix) 900 -}}
{{- $needsList := or (and (not $shortMeta) $needsModTime) (not $isNotes) -}}
{{- if $needsList }}
<ul>
{{- else}}
<p>
{{- end }}
{{ if $needsList }}<li>{{ end }}
{{- $action }} <time{{ if not (.Params.evergreen) }} itemprop="dateCreated datePublished" class="dt-published published"{{ end }} datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time> by {{ partial "indieweb-author.html" -}}{{ if not $shortMeta }} on his <a rel="canonical" itemprop="url" class="u-url url" href="{{ .Site.Params.CanonicalBaseURL }}{{ $canonicalRelPermalink }}">Website</a>{{- with .OutputFormats.Get "gemtext" -}}{{- printf " " -}}and <a rel="syndication" class="u-syndication" href="{{replace .Permalink "/gemini" "" 1 | safeURL}}">Gemini capsule</a>{{ end }}{{- end -}}.
{{ if $needsList }}</li>{{ end }}
			{{- if gt (sub .Lastmod.Unix .Date.Unix) 900 -}}
{{ if $needsList }}<li>{{ end }}
			Last updated <time itemprop="dateModified" class="dt-updated updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02" }}</time>.{{ if not $shortMeta }} <a href="{{ $logURL }}">Changelog</a>.{{ end }}
{{ if $needsList }}</li>{{ end }}
			{{- end -}}
			{{- if not $isNotes -}}
{{ if $needsList }}<li>{{ else }}<br />{{ end }}
			{{ partial "wordcount.html" . -}}
{{ if $needsList }}</li>{{ end }}
			{{- end -}}
{{- if $needsList }}
</ul>
{{- else}}
</p>
{{- end }}
