<section class="h-feed hfeed" itemprop="hasPart" itemscope="" itemtype="https://schema.org/DataFeed">
	<h2 class="p-name" itemprop="name" id="articles">Articles</h2>
	<p>Here’s a selection of my best articles, in featured order. To see the rest, visit <a href="posts/">my Articles page</a>.</p>
	<p>I edit some of these articles quite often; some are updated indefinitely. Check the “updated” timestamps.</p>
	<p role="doc-tip">
		Timestamp format: <code>YYYY-MM-DD</code>, as per <cite><a href="https://www.ietf.org/rfc/rfc3339.txt">RFC 3339</a></cite> and <cite><a href="https://xkcd.com/1179/">ISO 8601</a></cite>. Sorted newest to oldest.
	</p>
	<ol>
		{{- $posts := site.RegularPages -}}
		{{- $posts = sort (where $posts "Params.featured" ">" 0) "Params.featured" -}}
		{{- range $posts -}}
		{{- $canonicalRelPermalink := .RelPermalink | replaceRE "^/~seirdy/" "/" -}}
		<li itemprop="dataFeedElement" itemscope="" itemtype="https://schema.org/DataFeedItem">
			<article class="h-entry hentry" itemprop="item" itemscope="" itemtype="https://schema.org/BlogPosting" itemid="{{ .Site.Params.CanonicalBaseURL }}{{ $canonicalRelPermalink }}">
				<h3
					itemprop="name headline" class="p-name entry-title">
					<a href="{{ .Permalink }}" itemprop="url" class="u-url url" rel="bookmark">
						{{ .Title }}
					</a>
				</h3>
				<p>
					Posted <time itemprop="datePublished" class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
					{{- if lt .Date .Lastmod -}}
						, updated <time{{ if not (.Params.evergreen) }} itemprop="dateModified" class="dt-updated updated"{{ end }} datetime="{{ .Lastmod.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
					{{- end }}
					</p>

				<div>
				<p class="p-summary entry-summary" itemprop="description">{{ .Description }}</p>
				<p>{{- partial "wordcount.html" . -}}</p>
				</div>
			</article>
		</li>
		{{- end }}
	</ol>
</section>
