{{ $name := "post" -}}
{{- if eq .Page.Section "notes" -}}
	{{- $name = "note" -}}
{{- end -}}
<hr />
<aside aria-labelledby="continue-hd">
	<nav aria-labelledby="continue-hd">
		<h2 id="continue-hd">Continue reading</h2>
		<ul>
			{{- with .PrevInSection }}
			<li>Previous {{ $name }}: <a href="{{ .Permalink }}" rel="prev">{{ .Title }}</a></li>
			{{- end -}}
			{{- with .NextInSection }}
			<li>Next {{ $name }}: <a href="{{ .Permalink }}" rel="next">{{ .Title }}</a></li>
			{{- end }}
		</ul>
	</nav>
	<p>This place is not a place of honor. Opinions are those of your employer.</p><p>For more information, please re-read.</p>
</aside>
