{{- $schemaType := "SocialMediaPosting" -}}
{{- with .replyType -}}
	{{- $schemaType = . -}}
{{- end -}}
<aside role="note">
	Reply to <span class="h-cite in-reply-to" itemprop="about" itemscope="" itemtype="https://schema.org/{{ $schemaType }}">
		<cite itemprop="name" class="p-name">
			<a class="u-url" itemprop="url" href="{{ .replyURI }}">{{ .replyTitle | safeHTML}}</a>
		</cite> by
		<span itemprop="author" itemscope="" itemtype="https://schema.org/Person" class="h-card vcard p-author">
			<a itemprop="url" href="{{ .replyAuthorURI }}" class="u-url url">
				<span itemprop="name" class="p-name fn n">{{ .replyAuthor }}</span></a>
		</span>
	</span>
</aside>
