{{- $schemaType := "SocialMediaPosting" -}}
{{- with .replyType -}}
	{{- $schemaType = . -}}
{{- end -}}
{{- $replyAuthorType := "Person" -}}
{{- with .replyAuthorType -}}
	{{- $replyAuthorType = . -}}
{{- end -}}
{{- $replyAuthorRel := "author" -}}
{{- if in $replyAuthorType (slice "Organization" "NewsMediaOrganization") -}}
	{{- $replyAuthorRel = "publisher" -}}
{{- end -}}
<aside role="note">
<p>
	Reply to <span class="h-cite u-in-reply-to" itemprop="about" itemscope="" itemtype="https://schema.org/{{ $schemaType }}">
		<cite itemprop="name" class="p-name">
			<a class="u-url" itemprop="url" href="{{ .replyURI }}">{{ .replyTitle | safeHTML}}</a>
		</cite>{{ if .replyAuthor }} by
		<span itemprop="{{ $replyAuthorRel }}" itemscope="" itemtype="https://schema.org/{{ $replyAuthorType }}" class="h-card vcard p-author">
			<a itemprop="url" href="{{ .replyAuthorURI }}" class="u-url url">
				<span itemprop="name" class="p-name fn n">{{ .replyAuthor }}</span></a>
		</span>{{ end }}
	</span>
</p>
</aside>
