<!--
	Some webrings require the sending of a "Referer" header,
	but my site has two non-canonical mirrors. Don't add those.
-->{{- $refPol := "no-referrer" -}}
{{- if eq site.BaseURL "https://seirdy.one/" -}}
	{{- $refPol = "strict-origin" -}}
{{- end -}}
<h2 id="webrings">Webrings</h2>
{{ $webringData := after 1 (resources.Get "csv/webrings.csv" | transform.Unmarshal) -}}
<p>This site is part of {{ len $webringData }} <a href="https://en.wikipedia.org/wiki/Webring">webrings</a>. A webring is a collection of sites in a circular doubly-linked list; each website links to the next and previous site in the list.</p>
<details>
	<summary>Toggle webrings list</summary>
	<p>Some of the “next” and “previous” links contain JavaScript; you need to enable it to be re-directed to the correct page. I’ve marked these links with “JS”.</p>
	<ol>
	{{- range $i, $r := $webringData }}
		{{- $webringName := index $r 0 }}
		<li><a href="{{- index $r 2 -}}">{{- $webringName }} webring home</a>
				<ol>
					<li>
						<a href="{{- index $r 1 -}}" rel="nofollow ugc" referrerpolicy="{{ $refPol }}">Previous {{ $webringName }} site</a>
					</li>
					<li>
						<a href="{{- index $r 3 -}}" rel="nofollow ugc" referrerpolicy="{{ $refPol }}">Next {{ $webringName }} site</a>
					</li>
					{{- if ne (index $r 4) "null" }}
					<li>
						<a href="{{- index $r 4 -}}" rel="nofollow ugc" referrerpolicy="{{ $refPol }}">Random {{ $webringName }} site</a>
					</li>
					{{- end }}
				</ol>
		</li>
	{{- end -}}
	</ol>
</details>
<p>If you’re part of a webring and would like me to join, just ask.</p>
