<figcaption>
{{ if .Get "type" | eq "code" }}
<strong itemprop="codeSampleType">Code snippet</strong>{{with .Get "lang"}} (<span itemprop="programmingLanguage">{{ . }}</span>){{end}}:
{{- end }}

{{ $contents := (.Inner | markdownify | safeHTML) }}

{{ if .Get "type" | eq "citation" }}
	&mdash;
	<span class="h-cite" itemprop="citation" role="doc-credit">
	{{with .Get "partOfType" }}
		<span itemprop="isPartOf" itemscope itemtype="https://schema.org/{{ . }}">
	{{ end }}
	{{ $contents }}
	{{with .Get "partOfType" }}
		</span>
	{{ end }}
	</span>
{{ else }}
	{{ $contents }}
{{- end }}
</figcaption>
