{{ $favicon := resources.Get "/favicon.png" -}}
{{- $favicon_base64 := $favicon.Content | base64Encode -}}
{{- $favicon_svg := resources.Get "/favicon.svg" | resources.Fingerprint "md5" -}}
{{- $favicon_bigpng := resources.Get "/apple-touch-icon.png" | resources.Fingerprint "md5" -}}
{{- if (ne .Site.BaseURL "http://wgq3bd2kqoybhstp77i3wrzbfnsyd27wt34psaja4grqiezqircorkyd.onion/") -}}
<picture itemprop="image" class="u-photo photo">
	<source srcset="{{ $favicon_svg.RelPermalink }}" type="image/svg+xml">
{{- end -}}
	<img src="data:image/png;base64,{{ $favicon_base64 }}" width="16" height="16" alt=""
		srcset="{{ $favicon_bigpng.RelPermalink }} 2x">
{{- if (ne .Site.BaseURL "http://wgq3bd2kqoybhstp77i3wrzbfnsyd27wt34psaja4grqiezqircorkyd.onion/") -}}
</picture>
{{- end -}}
