{{- $itemprop := "mentions" -}}
{{- with .Get "itemprop" -}}
	{{ $itemprop = . }}
{{- end -}}
{{- if .Get "p" -}}
<p
	class="h-cite{{ with .Get "reply" }} in-reply-to{{ end }}"{{ with .Get "itemid" }} itemid="{{ . }}"{{ end }} itemprop="{{ $itemprop }}"{{ with .Get "role" }} role="{{ . }}"{{ end }} itemscope="" itemtype="https://schema.org/{{ .Get "itemtype" }}">
	{{- .Inner | markdownify | safeHTML -}}
</p>
{{- else -}}
<span
	class="h-cite{{ with .Get "reply" }} in-reply-to{{ end }}"{{ with .Get "itemid" }} itemid="{{ . }}"{{ end }} itemprop="{{ $itemprop }}"{{ with .Get "role" }} role="{{ . }}"{{ end }} itemscope="" itemtype="https://schema.org/{{ .Get "itemtype" }}">
	{{- .Inner | markdownify | safeHTML -}}
</span>
{{- end -}}
