{{- with .Parent -}}
	{{- if eq .Name "quotation" -}}
<figcaption>
		&mdash;
	{{- else if eq .Name "codefigure" -}}
		Taken from
	{{- end -}}
{{- end -}}
<span class="h-cite" itemprop="citation" role="doc-credit">
	{{ with .Get "partOfType" -}}
	<span itemprop="isPartOf" itemscope="" itemtype="https://schema.org/{{ . }}">
	{{- end -}}
		{{ .Inner | markdownify | safeHTML }}
	{{- with .Get "partOfType" }}</span>{{ end }}
</span>
{{- with .Parent -}}{{ if eq .Name "quotation" }}
</figcaption>
{{- end -}}
{{- end }}
